*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header  {
    background-color: #061b1d;
    width: 100%;
    height: 80px;
    position: fixed;
}
header h1 {
    color:rgb(255, 255, 255);
    position: absolute;
    left: 5vw;
    top: 0;
    line-height: 80px;
}
header ul {
    position: absolute;
    right:5vw;
    top: 0;
    line-height: 80px;
}
header li {
    display: inline;
    margin-left: 4vw;
    font-size: 17px;
}
header a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
header a:hover {
    text-decoration: underline;
}




body{
    background-color: #72b8fd
}
.jiesh{
    background-color: rgb(255, 196, 153);
    color: #ff6900;
    height: 50vw;
    background-image: linear-gradient(120deg, #c07dff 0%, #72b8fd 100%) ;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.jiesh h2{
    margin-top: 13vw;
    font-size: 40px;
    font-weight: 100;
}.jiesh p{
    margin: 25px;
    font-size: 20px;
}
.zhuti p {
    color: rgb(190, 106, 106);
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.zhuti img {
    width: 80vw;
    height: 40vw;
    
}



.hou {
    color: rgb(112, 66, 66);
    height: 40px;
    display: flex;
    justify-content: center;
    font-size: 25px;
}
.zuihou img{
    width: 60vw;
    height: 40vw;
}
.zuihou{
    display: flex;
}
.zi {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
blockquote {
    font-size:4vw ;
    color: rgb(31, 136, 101);
}
footer{
    background-color: rgb(32, 32, 32);
    color: rgb(255, 255, 255);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    line-height: 1.8em;
}
/* 响应式设计 */
@media screen and (max-width: 1081px) {
    header h1 {
        font-size: 20px;
    }
    header li {
        font-size: 12px;
        margin-left: 2vw;
    }
    .jiesh h2 {
        font-size: 25px;
    }
    .jiesh{
        background-color: rgb(255, 196, 153);
        color: rgb(248, 102, 44);
        height: 100vh;
        background-image: linear-gradient(120deg, #c07dff 0%, #72b8fd 100%) ;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .jiesh h2{
        margin-top: 30vh;
        font-size: 40px;
        font-weight: 100;
    }
    
}

