*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
div{
    display: flex;
}
body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.relative{
    max-width: 1464px;
    min-height: 864px;
    padding: 6.5em 0 0!important;
    margin-right: auto!important;
    margin-left: auto!important;
    background: #040d21;
    position: relative;
    display: block;
}
.padding{
    position: absolute;
    top:2%;
    left: 31%;
    color: #fff;
    font-size: 118px;
    font-weight: 800;
}
.padding-bottom{
    position: absolute;
    top: 18%;
    left: 43%;
    color: #fff;
    font-size: 36px;
    font-weight: 500;
}
.time-temp{
    margin: 0 10px;
    transform: translateY(-10px);
}
.time-ltemp{
    margin: 0 10px;
    transform: translateY(-5px);
}
.text{
    background:linear-gradient(-210deg,#a2facf 0%,#64acff 100%);
    color:transparent;
    -webkit-background-clip:text;
    letter-spacing: -0.03em;
    display: block;
    align-items: center;
}

header {
    font-size: 60px;
    font-weight: 550;
    color: coral;
    background: #040d21;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    
}
/* 响应式设计 */
@media screen and (max-width: 1081px) {

    .padding{
    top:3%;
    left: 10%;
    font-size: 70px;
    font-weight: 700;
    }
    .padding-bottom{
        top: 18%;
        left: 35%;
    }
}